body{
    background-color: azure;
}
header{
display: flex;
justify-content: space-between;
background-color: (222, 168, 202);
padding: 20px;
align-items: center;
}
.cabecalho_imagem{
  
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.cabecalho_menu-listaitem{
    display: inline;
    text-transform: uppercase;
    margin-left: 20px;

}